.eventC {
  position: relative;
  width: 80%;
  top: 70px;
  margin: 0 auto;
  padding-bottom: 20px;
  height: 88%;
}

.eventContainer {
  width: inherit;
  min-width: 300px;
  max-width: 480px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 10px;
  margin: 20px auto;

  padding-bottom: 80px;
}

.host {
  position: relative;
  left: 22px;
  top: 22px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777575;
}

.title {
  position: relative;
  left: 22px;
  top: 14px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #D0D0D0;
}

.desc {
  position: relative;
  left: 22px;
  top: 30px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #D0D0D0;
}

.date {
  position: relative;
  left: 22px;
  top: 3px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #D0D0D0;
}

.dateLabel {
  position: relative;
  top:8px;
  left: 22px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777575;
}

.descLabel {
  position: relative;
  top:30px;
  left: 22px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777575;
}

.attends {
  position: relative;
  left: 22px;
  top: 24px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #D0D0D0;
}
.notattends {
  position: relative;
  left: 22px;
  top: 24px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #D0D0D0;
}
.close {
  position: relative;
  left: 94%;
  top: 17px;
  width: 20px;
  height: 20px;
  color: rgb(232, 230, 227);
  cursor: pointer;
}

.notificationAcceptBtn {
  height: 24px;
  width: 80px;
  margin-right: 10px;
  background: rgb(14, 57, 122);
  border-radius: 3px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
}

.notificationDeclineBtn {
  height: 24px;
  width: 80px;
  background: rgba(154, 157, 182, 0.2);
  border-radius: 3px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
}

.buttons {
  position: relative;
  top: 40px;
  left: 20px;
}
