.feed {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.creator {
  z-index:1;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 600px;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 57px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 12px;
}

.title {
  position: relative;
  width: 94%;
  top: 10px;
  height: 33px;
  margin: 0 auto;
  padding-left: 9px;
  padding-right: 9px;
  background: rgb(89, 96, 100);
  border-radius: 9px;
  outline: none;
  border: none;
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-right: 10px;
}

.title::placeholder {
  position: relative;
  padding: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d0d0d0;
}

.description {
  position: relative;
  width: 94%;
  top: 10px;
  height: 72px;
  margin: 0 auto 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(89, 96, 100);
  border-radius: 9px;
  outline: none;
  border: none;
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  resize: none;
}
.postVisibility {
  position: relative;
  top: 20px;
  display: flex;
}

.publicText {
  position: relative;
  top: -38px;
}

.privateText {
  position: relative;
  top: -44px;
}

.almostPrivateText {
  position: relative;
  top: -95px;
}

.postVisibility > .visBtn {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(88, 88, 88) solid;
  left: 90px;
  padding-left: 40px;
  padding-right: 10px;
  margin: 0px 10px 20px 0px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #d0d0d0;
  background: rgb(47, 47, 47);
  height: 30px;
}

.postVisibility > .visBtn:hover {
  -webkit-appearance: none;
  appearance: none;
  background-color: gray;
  outline: none;
  border-radius: 10px;
  background: rgb(89, 96, 100);
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.activePostVisibility {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(89, 96, 100) solid;
  left: 90px;
  padding-left: 40px;
  padding-right: 10px;
  margin: 0px 10px 20px 0px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #d0d0d0;
  background: rgb(89, 96, 100);
  height: 30px;
}

.publicIcon {
  position: relative;
  scale: 0.5;
  top: -6px;
  left: -40px;
  fill: #d0d0d0;
}

.privateIcon {
  position: relative;
  scale: 0.5;
  top: -8px;
  left: -40px;
  fill: #d0d0d0;
}

.almostPrivateIcon {
  position: relative;
  scale: 0.22;
  top: -33px;
  left: -64px;
  fill: #d0d0d0;
}

.addImageBtn {
  display: block;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(88, 88, 88) solid;
  left: 90px;
  padding-left: 40px;
  padding-right: 12px;
  margin-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #d0d0d0;
  background: rgb(47, 47, 47);
  height: 30px;
  width: 99px;
  cursor: pointer;
}

.addImageBtn:hover {
  display: block;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(88, 88, 88) solid;
  left: 90px;
  padding-left: 40px;
  padding-right: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #d0d0d0;
  background: rgb(87, 87, 87);
  height: 30px;
  width: 99px;
}

.addImageText {
  position: relative;
  top: -96px;
  left: 4px;
}

.addImageIcon {
  position: relative;
  scale: 0.22;
  top: -34px;
  left: -60px;
  fill: #d0d0d0;
}

.eventBtn {
  display: block;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(88, 88, 88) solid;
  left: 90px;
  padding-left: 40px;
  padding-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #d0d0d0;
  background: rgb(47, 47, 47);
  height: 30px;
  width: 99px;
  cursor: pointer;
}

.eventBtn:hover {
  background: rgb(87, 87, 87);
}

.eventIcon {
  position: relative;
  scale: 0.22;
  top: -34px;
  left: -60px;
}

.eventBtnText {
  position: relative;
  color: white;
  top: -96px;
  left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #d0d0d0;
}

.bottomBtns {
  display: flex;
}

.description::placeholder {
  padding: 4px;
  color: #d0d0d0;
}

.categories {
  position: absolute;
  left: 50%;
  display: block;
  transform: translate(-50%);
  width: 100%;
  top: 63px;
  height: 30px;
  margin: auto;
  cursor: pointer;
}

.ul {
  position: relative;
  list-style-type: none;
  top: -10px;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

.category {
  position: relative;
  top: -12px;
}

.li {
  position: relative;
  float: left;
  left: 90px;
  padding-left: 40px;
  padding-right: 10px;
  margin: 0px 10px 20px 30px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #d0d0d0;
  height: 30px;
}

.li:hover {
  background: rgb(89, 96, 100);
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.bang {
  background: rgb(89, 96, 100);
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.submitready {
  position: relative;
  width: 97%;
  text-align: center;
  top: -7px;
  margin-top: 17px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 7px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #d0d0d0;
  background: rgb(14, 57, 122);
  cursor: pointer;
}

.submit {
  position: relative;
  background: rgb(89, 96, 100);
  width: 97%;
  text-align: center;
  top: -7px;
  margin-top: 17px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 7px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #d0d0d0;
  cursor: not-allowed;
}

.posts {
  position: relative;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  width: inherit;
  max-width: 980px;
  min-width: 320px;
  cursor: default;
}

.private {
  position: relative;
  width: 100%;
  top: 20px;
  overflow-x: hidden;
  height: 250px;
}

.privatebox {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 600px;
  min-width: 450px;
  padding-left: 20px;
  min-height: 157px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 12px;
}

.privatetext {
  position: absolute;
  color: whitesmoke;
  left: 50%;
  top: 70%;
  font-weight: 100;
  font-family: Helvetica;
  font-size: 24px;
  transform: translate(-50%);
}

.lock {
  position: absolute;
  scale: 0.12;
  left: -7px;
  top: -250px;
  padding: 5px;
  fill: none;
  stroke: white;
}

.groupChatBtn {
  position: relative;
  z-index: 2;
  top: 100px;
  width: 150px;
  height: 30.77px;
  background: rgb(14, 57, 122);
  border-radius: 7px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  border: none;
  color: rgb(232, 230, 227);
  cursor: pointer;
}
.groupChatBtnIcon {
  position: relative;
  width: 22px;
  fill: rgb(232, 230, 227);
  left: -6px;
  top: 3px;
}

.inviteModal {
  position: absolute;
  left: 49%;
  transform: translate(-50%);
  top: 140px;
  border-radius: 12px;
  background-color: #404040;
  height: 300px;
  width: 400px;
  overflow-y: scroll;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.35);
  z-index: 4;
}

.moduleLabel {
  position: relative;
  top: -7px;
  left: 30px;
  color: rgb(232, 230, 227);
  font-family: "Helvetica";
  font-style: bold;
  font-size: 16px;
  font-weight: 800;
}

.follower {
  position: relative;
  display: flex;
  left: 10px;
  padding: 2px;
}

.followerAvatarImg {
  position: relative;
  top: 2px;
  left: 20px;
  width: 40px;
  border-radius: 50%;
}

.followerNickname {
  cursor: pointer;
  position: relative;
  top: 12px;
  left: 30px;
  color: rgb(232, 230, 227);
  font-family: "Helvetica";
  font-style: normal;
  font-size: 20px;
  font-weight: 10;
}

.closeModal {
  position: relative;
  left: 90%;
  top: 12px;
  width: 20px;
  height: 20px;
  color: rgb(232, 230, 227);
  cursor: pointer;
}

.inviteUserBtn {
  position: absolute;
  left: 270px;
  top: 5px;
  cursor: pointer;
  height: 30px;
  width: 80px;
  font-size: 18px;
  background-color: transparent;
  border: 0px solid rgb(14, 57, 122);
  border-radius: 7px;
  color: rgb(232, 230, 227);
  background-color: rgb(14, 57, 122);
}

.joinBtn {
  position: relative;
  z-index: 2;
  top: 100px;
  width: 150px;
  height: 30.77px;
  background: rgb(14, 57, 122);
  border-radius: 7px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  border: none;
  color: rgb(232, 230, 227);
  cursor: pointer;
}

.joinedBtn{
  position: relative;
  z-index: 2;
  top: 100px;
  width: 150px;
  height: 30.77px;
  background: rgb(14, 57, 22);
  border-radius: 7px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  border: none;
  color: rgb(232, 230, 227);
  cursor: pointer;
}
.inviteBtn {
  position: relative;
  z-index: 2;
  top: 100px;
  width: 150px;
  height: 30.77px;
  background: rgb(14, 57, 122);
  border-radius: 7px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  border: none;
  color: rgb(232, 230, 227);
  cursor: pointer;
}

.btns {
	display: flex;
  z-index: 0;
	justify-content: space-evenly;
	width: 600px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	max-width: 600px;
	min-width: 250px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 57px;
	border-radius: 12px;
}
