.postC {
  position: relative;
  width: 80%;
  top: 70px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.postContainer {
  width: inherit;
  min-width: 300px;
  max-width: 480px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 10px;
  margin: 20px auto;
}

.author {
  position: relative;
  height: 40px;
  left: 30px;
  top: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #777575;
  cursor: pointer;
}

.title {
  position: relative;
  top: 3px;
  left: 30px;
  width: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  color: rgb(232, 230, 227);
  cursor: pointer;
}

.date {
  position: relative;
  left: 30px;
  top: -10px;
  font-size: 14px;
  color: #777575;
}

.ul {
  position: relative;
  list-style-type: none;
  height: 10px;
  margin: auto;
  top: 5px;
  padding: 0;
  overflow: hidden;
}

.category {
  position: relative;
  top: -12px;
}

.li {
  position: relative;
  float: left;
  left: 25px;
  padding-right: 20px;
  margin: 0px 10px 20px 30px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #d0d0d0;
  height: 30px;
  border-radius: 10px;
}

.desc {
  position: relative;
  width: 95%;
  left: 30px;
  top: -18px;
  max-width: 740px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgb(232, 230, 227);
}

.close {
  position: relative;
  left: 94%;
  top: 17px;
  width: 20px;
  height: 20px;
  color: rgb(232, 230, 227);
  cursor: pointer;
}

.commentBox {
  position: relative;
  margin: 0 auto;
  width: inherit;
  min-width: 500px;
}
.commentInput {
  position: relative;
  width: 94%;
  left: 10px;
  height: auto;
  background: #777575;
  border-radius: 9px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  outline: none;
  line-height: 24px;
  color: rgb(232, 230, 227);
  resize: none;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 auto;
}

.commentInput {
  position: relative;
  width: 332px;
  height: auto;
  left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 5px;
}
.commentInput::placeholder {
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.39);
}

.commentsLabel {
  position: relative;
  left: 10px;
  top: 12px;
  color: rgb(232, 230, 227);
}

.comment {
  color: rgb(232, 230, 227);
  width: inherit;
  min-width: 300px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.commentAuthor {
  position: relative;
  left: 10px;
  top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #777575;
}

.commentBody {
  position: relative;
  left: 10px;
  overflow-wrap: break-word;
  padding-right: 30px;
}

.commentTime {
  font-size: 14px;
  line-height: 14px;
  color: #777575;
  position: relative;
  left: 10px;
}

.bottomPad {
  height: 30px;
  position: relative;
  left: 27px;
  top: 2px;
  font-size: 14px;
  color: gray;
}

.postImg {
  position: relative;
  width: inherit;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  padding-bottom: 20px;
}

.addImg {
  display: flex;
  color: white;
}

.customFileInput::file-selector-button {
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(88, 88, 88) solid;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  color: #d0d0d0;
  background: rgb(47, 47, 47);
  cursor: pointer;
  width: 120px;
  user-select: none;
}

.customFileInput::file-selector-button:hover {
  background: rgb(87, 87, 87);
}

.customFileInput::file-selector-button:active {
  background: rgb(181, 181, 181);
}

.submitBtn {
  margin-left: 10px;
  content: "add and Image";
  display: inline-block;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(88, 88, 88) solid;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  color: #d0d0d0;
  background: rgb(47, 47, 47);
  cursor: pointer;
  width: 120px;
  user-select: none;
}

.submitBtn:hover {
  background: rgb(87, 87, 87);
}

.submitBtn:active {
  background: rgb(181, 181, 181);
}

.removeBtn {
  color: rgb(147, 12, 0);
  font-size: 2rem;
  font-weight: 800;
  padding: 0px;
  margin-top: -10px;
  background: none;
  border: none;
  cursor: pointer;
}

.removeBtn:hover {
  color: rgb(180, 18, 3);
}

.removeBtn:active {
  font-size: 2.2rem;
  margin-bottom: -0.2rem;
}
