.feed {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.private {
  position: relative;
  width: 100%;
  top: 20px;
  overflow-x: hidden;
  height: 250px;
}

.privatebox {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 600px;
  min-width: 450px;
  padding-left:20px;
  min-height: 157px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 12px;
}

.privatetext {
  position: absolute;
  color: whitesmoke;
  left: 50%;
  top: 70%;
  font-weight: 100;
  font-family: Helvetica;
  font-size: 24px;
  transform: translate(-50%);
}

.lock {
  position: absolute;
  left: 44%;
  top: 23%;
  width: 50px;
  padding: 5px;
  fill:none;
  stroke: white;
}

.profile {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 600px;
  min-width: 450px;
  padding-left:20px;
  min-height: 207px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 12px;
}

.avatar {
  position: absolute;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  top: 50px;
  width: 100px;
  height:100px;
}
.name {
  position: absolute;
  top: 20px;
  left: 150px;
  color: whitesmoke;
}

.stats {
  position: absolute;
  display: flex;
  top: 80px;
  left: 150px;
  justify-content: space-between;
  font-weight: 400;
  max-width: 400px;
  min-width: 300px;
  color: whitesmoke;
}

.nickname {
  position: absolute;
  display: flex;
  top: 120px;
  left: 150px;
  justify-content: space-between;
  font-weight: 800;
  max-width: 400px;
  min-width: 300px;
  color: whitesmoke;
}

.bio {
  position: absolute;
  display: flex;
  top: 140px;
  left: 150px;
  justify-content: space-between;
  font-weight: 400;
  max-width: 400px;
  min-width: 300px;
  color: whitesmoke;
}

.email {
  position: absolute;
  display: flex;
  top: 180px;
  left: 150px;
  justify-content: space-between;
  font-weight: 400;
  max-width: 400px;
  min-width: 300px;
  color: whitesmoke;
}

.age {
  position: absolute;
  display: flex;
  top: 160px;
  left: 150px;
  justify-content: space-between;
  font-weight: 400;
  max-width: 400px;
  min-width: 300px;
  color: whitesmoke;
}

.followBtn {
  position: relative;
  left: 30px;
  top: -5px;
}

.settingsBtn {
  position: relative;
  width: 20px;
  left: 30px;
}

.posts {
  position: relative;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  width: inherit;
  max-width: 980px;
  min-width: 820px;
  cursor:default;
}

.postContainer {
  width: inherit;
  min-width: 500px;
  top: 71px;
  background: rgb(48, 52, 54);
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.postGroup {
  position: relative;
  left: 207px;
  top: 22px;
  font-size: 14px;
  color: gray;
}

.followModule {
  position: relative;
  background-color: red;
  height: 300px;
  width: 400px;
}
